:root{
    --my_green_color:rgba(0, 159, 107, 1);
    --my_yellow_color:rgba(255, 215, 0, 1);
}



*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 34, 68, 1);
}

.actions {
    background-color: white;
    min-height: 10vh;
    max-height: 10vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0.6rem;
    border-radius: 0.5rem;
}

.date_shown {
    font-weight: 600;
    width: 20%;
}

.teacher,
.view {}

.container {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    position: relative;

}

.add_btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--my_yellow_color);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.add_icon {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}


.form_to_add {
    position: absolute;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: var(--my_yellow_color);
    width: 40rem;
    height: 50rem;
    bottom: 4rem;
    right: 4rem;
    z-index: 2;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add_slot button {
    height: 3rem;
    width: 10rem;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgba(0, 159, 107, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}



.side_calendar {
    background-color: var(--my_yellow_color);
    width: 30%;
    min-height: 65%;
    max-height: 65%;
    margin: 0.5rem;
    box-shadow: 0 2rem 4rem 0rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    overflow: hidden;
}

.month {
    background-color: rgba(0, 159, 107, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2rem 0 2rem 0;
    color: white;
}

.prev,
.next {
    font-size: 2rem;
    cursor: pointer;
}

.date {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekdays {
    margin: 2rem 0 2rem 0;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #8B0000;
}

.weekdays div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {

    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 0.2rem;
    color: rgba(0, 159, 107, 1);
}

.days div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: calc((100%)/7);
    width: calc((100%)/7);
    border-radius: 2.931rem;
    cursor: pointer;
    transition: all 0.159s ease-out;

}

.days div:hover:not(.today) {
    background-color: rgba(0, 159, 107, 1);
    font-weight: 700;
    color: #fff;
}

.prev_date,
.next_date {
    opacity: 0.282;
}

.today {
    background-color: rgba(0, 159, 107, 1);
    color: #fff;
}


.view_box {
    padding: 1rem 1rem;
    background-color: rgba(0, 159, 107, 1);
    width: 70%;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    margin: 0.5rem 0.6rem;
    border-radius: 1rem;
}

.header_week {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header_day {
    display: flex;
    width: 8%;
    justify-content: center;
    align-items: center;
    padding: 0 2.8rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in;
}

.header_day:hover {
    background-color: rgba(255, 215, 0, 0.5);
}

.header_week h3,
.header_day h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.border {
    display: inline;
    border-left: 0.3rem solid #fff;
    height: 4rem;

}

.time_slot_container {
    display: "flex";
    width: 100%;
    height: 80%;
    margin-top: 10rem;
    border-radius: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}
.time_slot_container p{
    display: flex;
    align-items: center;
    color: rgba(0, 159, 107, 1);
    background-color: var(--my_yellow_color);
    height:10rem;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2); 
}
